<!DOCTYPE html>\n<html>\n<head>\n<title>Skipped Test Cases</title>\n<style>\nh1{\nfont-family: cursive\n}\ntable {\nfont-family: cursive, sans-serif;\nwidth: auto;\nborder: 1px solid black;\npadding: 2px;\nborder-spacing: 8px;\n}\ntd, th {\nborder: 1px solid #dddddd;\ntext-align: center;\npadding: 20px;\n}\ntr:nth-child(even) {\nbackground-color: #dddddd;\n}\nbody {\n}\n</style>\n</head>\n<body>\n<h1>REGRESSION STATUS SUMMARIZED</h1>\n<h2>Skipped/Disabled Test Cases List</h2>\n<ol>\n{{ skipped_list }}\n</ol>\n</body>\n</html>